:root {
  --main_color: #d9b056 ;
  --sec_color:#1e592c;
}

/*  start auth style */

.auth_box
{
    width: 300px;
    background-color: #5d5d5d28;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth_button
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out .4s;
    border-radius: 8px;
    width: 100%;
}
.auth_button:hover
{
    transition: all ease-in-out .4s;
    transform: scale(1.04);
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.214), 0px 1px 3px 0px rgba(0, 0, 0, 0.212);

}
.auth_lable
{
    text-align: start;
    color: #d32f2f;
    font-size: small;
}
.hidd
{
    visibility: hidden;
}
.react-tel-input
{max-width: 260px;}
/*  end auth style */
/*stert casul*/
.carousel-caption
{
  position: unset;
  color: null;
}
.carsl_img
{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 1.5rem;
    
}

.carousel-indicators .active
{
  background-color: var(--main_color);
}
.carousel-indicators [data-bs-target] 
{
  width: 18px;
  height: 18px;
  border-radius: 9px;
  margin: 10px;
  border: oldlace;
}
.home_img
{
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
/*end casul*/
.home_text
{
    padding-top: 25% ;
}
.sq
{
    top: 517px;
    height: 439px;
    left: -237px;
    width: 586px;
    position: absolute;
    transform: rotate(76deg);
    overflow: hidden;
}
/*start card style*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .card {
    position: relative;
    min-width: 270px;
    max-width: 300px;
    
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.214), 0px 1px 3px 0px rgba(0, 0, 0, 0.212);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
  }
  .card-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px double var(--main_color);
    border-color: var(--main_color) var(--main_color) var(--sec_color) var(--sec_color);
  }
  .card-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .content h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .content p {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  

/* end card style  */  
/*  profile */
.profile_user_img
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.profile_user_box{
  padding: 20px;
  margin: 10px;
  background: rgb(30, 89, 44);
  background: linear-gradient(90deg, rgba(30, 89, 44, 0.6) 0%, rgba(217, 176, 86, 0.75) 100%);
  border-radius: 10px;
  
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
  display: flex;
  width: 100%;
}