:root {
    --main_color: #d9b056 ;
    --sec_color:#1e592c;
  }
.footer  {
    background: radial-gradient(circle, rgba(255,255,255,0.6971638655462185) 0%, rgba(237,219,177,0.8744747899159664) 30%, rgba(217,176,86,0.8212535014005602) 65%, rgba(30,89,44,0.8044467787114846) 140%);
    padding: 10px;
    margin-top: 50px;
}
.footer_link 
{
    transition: all ease-in-out .4s;
    margin: 7px;
}
.dark_color
{
    color: #fffdfd;
}
.light_color
{
    color: rgb(51, 51, 51) ;
}
.f_link:hover
{
    color: #4267B2;
    
}
.l_link:hover
{
    color: #0077B5;
}
.i_link:hover
{
    color: #E1306C;
}
.logo_img
{
    width: 132px;
    height: 44px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    filter: drop-shadow(2px 2px 10px white);
}
.loading
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 40%);
    position: fixed;
    top: 0px; 
    right: 0px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}