:root {
    --main_color: #d9b056 ;
    --sec_color:#1e592c;
  }

.full_container
{
    display: flex;
}
.admin_content
{
    width: 100%;
}
.admin_nav
{
    border-radius: 0px 0px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--main_color);
    text-align: start;
    width:250px;
    transition: all ease-in-out .3s;
}
.admin_nav_color
{
    background-color: var(--main_color);
}
.admin_nav_close
{
    width: 70px;
    text-align: center;
}
.nav_title
{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.title_text
{
    padding-top: 15px;
    
}
.Admin_link
{
    color: white;
    padding: 15px;
    
    margin: 5px;
    border-radius: 5px;
    transition: all ease-in-out .3s;
}
.link_text
{
    margin: 0px;
    display: inline-block;
    padding: 0px 10px;
}
.Admin_link:hover
{
    color: var(--sec_color);
    background-color: #6e6e6e2d ;
}
.table_img
{
    width: 80px;
    height: 45px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.table_user_img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

@media only screen and (max-width: 750px) {
    .admin_nav
    {
        position: absolute;
        z-index: 4;
    }
    .dash_component
    {
        padding-left: 45px;
        padding-right: 55px;

    }
}
.filter
{
    display: flex;
    justify-content: space-between;
}

.filter.div
{
    padding: 10px;
}

/* start Admin style*/

.Admin_info_component
{
    padding: 20px;
    margin: 10px;
    background: rgb(30,89,44);
    background: linear-gradient(90deg, rgba(30,89,44,0.6) 0%, rgba(217,176,86,0.75) 100%);
    border-radius: 10px;
    height: 140px;
    overflow: hidden;
    text-align: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    display: flex;
    width: 100%;
}

