.App {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  min-height: 680px;
}

:root {
  --main_color: #007bff ;
}
.dark
{
  background-color: rgb(51, 51, 51) ;
  color: #fffdfd;
}

.light
{
  background-color: #fffdfd ;
  color: rgb(51, 51, 51);
}
.main_color
{
  color:var(--main_color)
}
.p_t_50
{
  padding-top: 50px;
}
.p_t_30
{
  padding-top: 30px;
}
.m_t_50
{
  margin-top: 50px;
}
.m_t_30
{
  margin-top: 30px;
}
hr
{
  width: 100%;
  color: var(--main_color);
  border-top: 1px solid var(--main_color);
}
.fullWidth
{
  width: 100%;
}
.visually-hidden
{
  visibility: hidden;
}
.dn{
  display: none;
}