.App {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  min-height: 680px;
}

:root {
  --main_color: #d9b056 ;
  --sec_color:#1e592c;
}
.dark
{
  background-color: rgb(51, 51, 51) ;
  color: #fffdfd;
}

.light
{
  background-color: #fffdfd ;
  color: rgb(51, 51, 51);
}
.main_color
{
  color:var(--main_color)
}
.sec_color
{
  color:var(--sec_color)
}
.p_t_50
{
  padding-top: 50px;
}
.p_t_30
{
  padding-top: 30px;
}
.m_t_50
{
  margin-top: 50px;
}
.m_t_30
{
  margin-top: 30px;
}
.p_10
{
  padding: 10px;
}
hr
{
  width: 100%;
  color: var(--main_color);
  border-top: 1px solid var(--main_color);
}
.fullWidth
{
  width: 100%;
}
.visually-hidden
{
  visibility: hidden;
}
.dn{
  display: none;
}
.btn-primary  {
  color: #fff;
  background-color: var(--main_color);
  border-color: var(--main_color);
  transition: all ease-in-out .4s;
}
.btn-primary:hover {
  color: var(--sec_color);
  background-color: var(--main_color);
  border-color: var(--main_color);
  transform: scale(1.04);
}

.btn-outline-primary {
  color: var(--main_color);
  border-color: var(--main_color);
}
.btn-outline-primary:hover {
  color: var(--sec_color);
  background-color: var(--main_color);
  border-color: var(--main_color);
}

.css-10o2lyd-MuiStack-root>:not(style):not(style) {
      margin: 0;
      width: 100%;
  }